<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/flag-icons/css/flag-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg " id="nav-bar">
        <div class="container-fluid">

            <a class="navbar-brand text-white" href="#">Tech Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="navbarSupportedContent" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {{#if logged_in}}

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/dreamteam">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/dreamteam">View Posts</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/settings">{{username}}'s Account</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/dreamteam">Logout</a>
                    </li>

                    {{else}}
                    <a href="/login" class="text-white"><button type="button" class="btn btn-primary log-btn"
                            id="login-btn">Login</a></button>

                    <a href="/signup" class="text-white"><button type="button" class="btn btn-primary log-btn"
                            id="signup-btn">SignUp</a></button>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>


    <main>
        {{{body}}}
    </main>

    {{>footer}}

    {{#if logged_in}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>