                        {{!-- background image --}}
                 <div class="dream-bg">
                    <h1 id="dreamh1">{{userInfo.username}} Create Your World Cup Dream Teams!</h1>
                    <div class="container-fluid py-5">
                      <div class="row">
                           
                              {{!-- form to create team --}}
                <div class="col-lg-5">
                    <div id="dreamteamform">
                
                        <form id="dreamteam-form">
                            <!-- GK input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Gk">Goalkeeper</label>
                                <input type="text" id="Gk" class="form-control" />

                            </div>

                              <!-- Lb -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Lb">Left Back</label>
                                <input type="text" id="Lb" class="form-control" />
                            </div>

                            <!-- Cb1 -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Cb2">Centre Back</label>
                                <input type="text" id="Cb1" class="form-control" />
                            </div>

                            <!-- Cb2 -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Cb1">Centre Back</label>
                                <input type="text" id="Cb2" class="form-control" />
                            </div>

                            <!-- Rb -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Rb">Right Back</label>
                                <input type="text" id="Rb" class="form-control" />
                            </div>

                            <!-- Lw -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Lw">Left Wing</label>
                                <input type="text" id="Lw" class="form-control" />
                            </div>

                            <!-- Cm2 -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Cm2">Centre Midfield</label>
                                <input type="text" id="Cm2" class="form-control" />
                            </div>

                            <!-- Cm1 input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Cm1">Centre Midfield</label>
                                <input type="text" id="Cm1" class="form-control" />
                            </div>

                              

                            <!-- Rw -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Rw">Right Wing</label>
                                <input type="text" id="Rw" class="form-control" />
                            </div>

                            

                            <!-- St1 -->
                            <div class="form-outline mb-4">
                                 <label class="form-label" for="St1">Striker</label>
                                <input type="text" id="St1" class="form-control" />
                            </div>

                              <!-- St2 -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Rb">Striker</label>
                                <input type="text" id="St2" class="form-control" />
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>
                        </form>                            
                    </div>
                    </div>
    
                    {{!-- created teams  --}}
                    <div class="col-lg-2"> 
                        <div class="card">
  {{#each dreamteam as |team|}}
   <ul id="nobullets">
    <li><a href="/dreamteam/{{team.id}}" >

    <h5 class="card-header" id="test">Team {{team.id}}</h5>
  </a>
    </li>
   </ul>
     {{/each}}
</div></div>
                        {{!-- image card  --}}
                    <div class="col-lg-5">
                           <div class="card-body py-5 px-md-5">
                             <img src="../images/_formation.png" width="500px" height="500px"  alt="text alt" id="team_formation" />
                         </div>
                         </div>
                </div>
            </div>
        </div>
        </div>
            </div>
            </div>
       
    </section>


    <script src="/javascript/dreamteam.js"></script>