{{> post-info post}}

{{#if logged_in}}

<form class="comment-form mx-3 my-3">
  <div>
    <textarea class="textarea" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button mt-3" type="submit">Add comment</button>
  </div>
</form>
{{!-- <div><a class="button mx-3 my-3" href="/dashboard"> &larr; Back to dashboard</a></div> --}}
{{/if}}

{{> comments post}}

{{#if logged_in}}
<script src="/javascript/comment.js"></script>
{{/if}}